[mysqld]					#the settings are applied to the database server which creates the daemon
datadir = /var/lib/mysql	#where data is stored
basedir = /usr				#where mariadb is installed
socket = /run/mysqld/mysqld.sock
bind_address = 0.0.0.0 		#allows connection from any IP
port = 3306
user = mysql				#user that mariadb runs on 